body {
	width: 1200px;
	margin: 0 auto;
	background: #2f2840 url("img/bg_body.gif") repeat;
}

header {
	width: 1000px;
	margin: 160px auto 95px auto;
	text-align: center;
}

main {
	width: 1000px;
	margin: 0 auto 140px auto;
	background: #fff;
	text-align: center;
}

h2,
h3,
p {
	font-family: Avenir, sans-serif;
	line-height: 28px;
}

h2,
p {
	color: #45494d;
}

h2 {
	font-size: 36px;
	font-weight: 600;
	padding: 110px 0 40px 0;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	color: #3e98b2;
	padding-bottom: 30px;
}

p {
	font-size: 20px;
	font-weight: 400;
	padding: 0 115px 0 115px;
}

h3 + p {
	padding-bottom: 72px;
}

footer {
	width: 1000px;
	background-color: #e7e7e7;
}

footer ul li{
	display: inline-block;
	padding: 35px 65px 35px 65px;
}

